:root {
  --ion-color-primary: #0077b6;
  --ion-color-primary-rgb: 0, 119, 182;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00649c;
  --ion-color-primary-tint: #1a89c4;

  --ion-color-secondary: #ffb703;
  --ion-color-secondary-rgb: 255, 183, 3;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0a203;
  --ion-color-secondary-tint: #ffc21c;

  --ion-color-tertiary: #fb8500;
  --ion-color-tertiary-rgb: 251, 133, 0;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #dd7400;
  --ion-color-tertiary-tint: #fc9520;

  --ion-font-family: 'Roboto', sans-serif;
}
